{% extends 'diary/base.html' %}

{% block content %}
<form action="" method="post">
  <table class="table">
    <tr>
      <th>タイトル</th>
      <td><input type="text" name="title" maxlength="200" required id="id_title" value="{{ day.title }}"></td>
    </tr>
    <tr>
      <th>本文</th>
      <td>
        <textarea name="text" cols="40" rows="10" required id="id_text">{{ day.text }}</textarea>
      </td>
    </tr>
    <tr>
      <th>日付</th>
      <td><input type="text" name="date" id="id_date" value="{{ day.created_at }}"></td>
    </tr>
  </table>
  <button type="submit" class="btn btn-primary">送信</button>
  {% csrf_token %}
</form>
{% endblock %}
